/* header page */
.main-header {
    background: #fff;
    -webkit-box-shadow: 0 4px 6px 0 rgb(12 0 46 / 8%);
    box-shadow: 0 4px 6px 0 rgb(12 0 46 / 8%);
}

.navm- {
    display: none;
}

.mega-white-logo, .mega-darks-logo{
	height: 45px;
}

.nav-bg-b .custom-nav .nav-list li a.menu-links {
    color: #050748;
}

.portfolio-section:before {
    content: "";
    background: none;
    position: absolute;
    height: unset;
    right: 0;
    left: 0;
    top: 0;
    background-size: auto;
    background-repeat: repeat;
}

.nav-bg-b .hc-nav-trigger span, .nav-bg-b .hc-nav-trigger span::before, .nav-bg-b .hc-nav-trigger span::after {
    background: #050748;
}

.cart i{
	font-size: 20px;
    color: #050748;
}

.cart .cartbadge {
	display: inline-block;
	position: absolute;
	right: 25px;
	top: 25px;
	padding: 2px 4px;
	font-size: 11px;
	font-weight: 700;
	font-family: work-Sans,sans-serif;
	border-radius: 50rem !important;
	line-height: 1;
	background-color: #fb0505;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
}

.sticky .cart .cartbadge {
	top: 20px;
}



@media only screen and (max-width: 520px) {
  /* For mobile phones: */
  .main-header {
		padding: 0 20px;
		height: 65px;
	}
	.navm- {
		display: block;
	}
	.mega-white-logo, .mega-darks-logo{
		height: 40px;
	}
  .cart{
	  margin-right: 15px;
  }
  .cart i{
	font-size: 25px;
    color: #050748;
	}
	.cart .cartbadge {
		top: 15px;
		right: 20px;
		padding: 4px 6px;
		font-size: 12px;
	}
	
	.sticky .cart .cartbadge {
		top: 15px;
	}
}

/* home page */.event-date{	position: absolute;    top: 4px;    left: 4px;    border: 1px solid #d74747;    padding: 0px 10px;    border-radius: 15px;    background: red;    color: white;    font-size: 12px;    font-weight: bold;    line-height: 15px;}
.w-text{
	text-align: right;
}
.p-img{
	height: 276px;
    object-fit: contain;
}
.item-image {
		border-radius: unset;
		-webkit-box-shadow: none;
		box-shadow: none;
		border-top-right-radius: 8px;
		border-top-left-radius: 8px;
	}
.isotope_item {
	-webkit-box-shadow: 0 3.4px 2.7px -30px rgb(0 0 0 / 6%), 0 8.2px 8.9px -30px rgb(0 0 0 / 7%), 0 25px 40px -30px rgb(0 0 0 / 20%); 
	box-shadow: 0 3.4px 2.7px -30px rgb(0 0 0 / 6%), 0 8.2px 8.9px -30px rgb(0 0 0 / 7%), 0 25px 40px -30px rgb(0 0 0 / 20%); 
}
.item-info{
	border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
@media only screen and (max-width: 520px) {
	.w-text{
		text-align: center;
	}
	.p-img{
		height: 180px;
		object-fit: contain;
	}
}